/* ==========================================================================
   colorizer
   ========================================================================== */

.l-wrapper{
	background-color: #fff;
}

.l-brands{
	background-color: #474747;
}

.l-header{
	background-color: #b8b8b8;
}

.l-content{
	background-color: #ffffd6;
}

.l-footer{
	background-color: #b8b8b8;
}

.l-settings{
	background-color: #d6ffdb;
}

.l-cart{
	background-color: #d6d6ff;
}

.l-user{
	background-color: #ffd6de;
}

.l-login{
	background-color: #ffd6fb;
}

.l-wishlist{
	background-color: #d6ffff;
}