@import "compass";
@import "_variables";
@import "_mixins";

/* ==========================================================================
   layout
   ========================================================================== */

html,
body{
	position: relative;
	height: 100%;
}

body{
	min-width: 990px;
	min-height: 300px;
}

.l-login,
.l-user,
.l-cart,
.l-wishlist,
.l-settings{
	background-color: #FFF;
}

.l-wrapper,
.l-brands,
.l-header,
.l-content,
.l-footer,
.l-cart,
.l-wishlist,
.l-user,
.l-login,
.l-settings,
.l-mapstore{
	position: absolute;
}

.l-wrapper{
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.l-brands,
.l-header{
	@include transition(top $t);
	right: 0;
	left: 0;
	width: 100%;
	height: $hh;
	line-height: $hh;
}

.l-brands{
	top: - $hh;	
	z-index: 3;	
	background-color: #474747;
}

.l-header{
	border-bottom: 1px solid #e8e8e9;
	@include box-sizing(border-box);
	position: relative;
	top: 0;
	z-index: 2;
	background-color: #FFF;
}

.l-content{
	top: $hh;
	right: 0;
	bottom: $fh;
	left: 0;
	z-index: 1;
	background-color: #FFF;
	width: 100%;
	display: none;
	@include transition(all $t);
}

.l-footer{
	border-top: 1px solid #e8e8e9;
	@include box-sizing(border-box);
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: $fh;
	background-color: #fff;
	line-height: $fh;
}

.l-mapstore{
	@include box-sizing(border-box);
	@include transition(all $t);
	position: absolute;
	top: 100%;
	right: 0;
	bottom: $fh;
	left: 0;
	z-index: 1;
	overflow: hidden;
	padding: $hh 0 $fh 0;
	width: 100%;
	height: 100%;

	&.active{
		top: $hh;
	}
}

@media screen and (max-height: $maxHeight) {
	.l-mapstore{
		@include box-sizing(border-box);
		@include transition(all $t);
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 1;
		overflow: hidden;
		padding: $hh 0 $fh 0;
		width: 100%;
		height: 100%;

		&.active{
			top: 0;
		}
	}
}

.state_map{
	.l-mapstore{
		top: 0;
	}

	.contacts{
		.contacts__location{
			right: 0;
		}
	}	
}

@media screen and (max-height: $maxHeight) {
	.state_map{
		.l-mapstore{
			padding: $hh_s 0 $fh_s 0;
		}
	}	
}

.l-help{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 7;
	width: $cw;
	height: $fh;
	line-height: $fh_s;
}

@media screen and (max-height : $maxHeight) {
	.l-brands,
	.l-header{
		height: $hh_s;
		line-height: $hh_s;
	}

	.l-brands{
		top: -$hh_s;
	}

	.l-content{
		top: $hh_s;
		bottom: $fh_s;
	}

	.l-footer,
	.l-help{
		height: $fh_s;
		line-height: $fh_s;
	}
	.l-mapstore{
		bottom: $fh_s;

		&.active{
			top: $hh_s;
		}
	}
}

.l-settings{
	@include transition(bottom $t);
}

.l-settings{
	right: 0;
	bottom: - $sh;
	left: 0;
	z-index: 3;
	width: 100%;
	height: $sh;
}

.l-login,
.l-user,
.l-cart,
.l-wishlist{
	@include transition(right $t);
	position: absolute;
	top: 0;
	right: -$uw;
	bottom: 0;
	z-index: 4;
	width: $uw;
	height: 100%;
}

.l-cart,
.l-wishlist{
	right: -$cw;
	width: $cw;
}

.l-overlay{
	@include transition(opacity $t);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(#000, 6/10);
	opacity: 0;
}

@media screen and (max-width : $maxWidth) {
	.l-cart,
	.l-wishlist{
		right: -$cw_s;
		width: $cw_s;
	}

	.l-help{
		width: $cw_s;
	}
}

/* ==========================================================================
   states
   ========================================================================== */
.state_cart,
.state_wishlist,
.state_user,
.state_login,
.state_menu,
.state_settings,
.state_quicklook{
	.l-overlay{
		display: block;
		opacity: 1;
	}
}

// vertical states
.state_brands{
	.l-brands{
		top: 0;
	}

	.l-header{
		top: $hh;
	}

	.l-content{
		top: $hh*2;
		bottom: -$hh*2; 
	}
}

.state_settings{
	.l-settings{
		@include box-shadow(0 0 20px rgba(0, 0, 0, 4/10));
		bottom: 0;
		z-index: 6;
	}
}

@media screen and (max-height : $maxHeight) {
	.state_brands{
		.l-header{
			top: $hh_s;
		}
	}
}


//horizontal states
.state_login{
	.l-login{
		@include box-shadow(0 0 20px rgba(0, 0, 0, 4/10));
		right: 0;
		z-index: 6;
	}
}

.state_user{
	.l-user{
		@include box-shadow(0 0 20px rgba(0, 0, 0, 4/10));
		right: 0;
		z-index: 6;
	}
}

.state_cart{
	.l-cart{
		@include box-shadow(0 0 20px rgba(0, 0, 0, 4/10));
		right: 0;
		z-index: 6;
	}
}

.state_wishlist{
	.l-wishlist{
		@include box-shadow(0 0 20px rgba(0, 0, 0, 4/10));
		right: 0;
		z-index: 6;
	}
}

.state_menu{
	.menu{
		z-index: 6;
	}

	.l-header{
		z-index: 7;
	}
}

.state_menu_women{
	.menu_women{
		display: block;
	}
}

//quick look
.state_quicklook{
	.product-popup-holder{
		display: block;
	}
}

$states : women, men, kids, home;

@each $state in $states{
	.state_menu_#{$state}{
		.menu_#{$state}{
			top: $hh;
		}

		.nav__l_#{$state}{
			position: relative;
			color: #11cce2 !important;
			&:after{
				@include inline-block('../img/menu__arr.png');
				position: absolute;
				bottom: -1px;
				left: 50%;
				margin-left: - round(image-width('../img/menu__arr.png')/2);
				content: '';
			}
		}
	}

	@media screen and (max-height : $maxHeight) {
		.state_menu_#{$state}{
			.menu_#{$state}{
				top: $hh_s;
			}
		}
	}
}

/* ==========================================================================
   loading
   ========================================================================== */

.loading{
	&:after{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10000;
		width: 100%;
		height: 100%;
		content: '';
	}

	.l-content{
		opacity: .5;
	}
}

/* ==========================================================================
   l-grid
   ========================================================================== */

.l-grid{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	.l-grid__col{
		@include transition(all $t);
		position: absolute;
		top: 0;
		height: 100%;
	}

	.l-grid__col_w3{
		left: 0;
		width: 50%;
	}

	.l-grid__col_w2{
		left: 49.99%;
		width: 33.4%;
	}

	.l-grid__col_w1{
		left: 83%;
		width: 16.68%;
	}
	
	.l-grid__i{
		position: absolute;
		overflow: hidden;
	}

	.l-grid__i_b1{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.l-grid__i_b2{
		top: 0;
		left: -0.1%;
		width: 100%;
		height: 50.01%;
	}

	.l-grid__i_b3,
	.l-grid__i_b4{
		top: 49.99%;
		width: 50.01%;
		height: 50.01%;
	}

	.l-grid__i_b3{
		left: 0;
	}

	.l-grid__i_b4{
		left: 49.99%;
	}
	
	.l-grid__i_b5,
	.l-grid__i_b6{
		left: 0;
		width: 100%;
		height: 50%;
	}

	.l-grid__i_b5{
		top: 0;
	}

	.l-grid__i_b6{
		top: 50%;
	}
}


@media screen and (max-width : $gridtwocolwidth) {
	.l-grid{
		.l-grid__col_w2{
			width: 50%;
		}

		.l-grid__col_w1{
			display: none;
		}
	}
}

@media screen and (max-width : $gridonecolwidth) {
	.l-grid{
		.l-grid__col_w3{
			width: 100%;
		}

		.l-grid__col_w2{
			display: none;
		}
	}
}

@media screen and (max-height : $gridonecolheight) {
	.l-grid{
		.l-grid__col_w2{
			width: 50%;
		}

		.l-grid__col_w1{
			display: none;
		}

		.l-grid__i_b3,
		.l-grid__i_b4{
			display: none;
		}

		.l-grid__i_b2{
			height: 100%;
		}
	}
}

/* ==========================================================================
   pages
   ========================================================================== */
   
$pages : home category products product search;

@each $page in $pages {
	.page_#{$page} {
		.l-content_#{$page}{
			display: block;
		}
	}
}
