@import "compass";
.product-list{
	}
	.product-list__header {
		overflow: hidden;
		margin: 0 0 30px;
		.product-list_big & .product-list__title-holder,
		.profuct-list_small & .product-list__title-holder,
		.product-list__title-holder {
			width: 30%;
			max-width: 511px;
			height: 333px;
			margin: 0;
		}
	}
	.products-menu-holder {
		overflow: hidden;
		padding: 0 3%;
	}
	.products-menu {
		height: 333px;
		display: table;
		min-width: 490px;
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
	}
		.products-menu__list {
			list-style: none;
			display: table-cell;
			padding: 0;
			vertical-align: middle;
			margin: 0;
			width: 40%;
			&:first-child {
				width: 60%;
			}
		}
		.products-menu__item {
			margin: 0 0 10px;
			overflow: hidden;
			a {
				float: left;
				text-decoration: none;
				font: 20px/44px "Oswald Light", arial, sans-serif;
				text-transform: uppercase;
				padding: 0 12px 0 0;
				&:hover {
					text-decoration: underline;
				}
			}
			span {
				padding: 0 15px 0 27px;
				display: block;
				height: 44px;
				
			}
		}
		.products-menu__item_active {
			a {
				background: url(../img/product-menu__item.png)  no-repeat 100% -56px;
				&:hover {
					text-decoration: none;
				}
			}
			span {
				background: url(../img/product-menu__item.png)  no-repeat;
			}
		}
			.products-menu__count {
				color: #969696;
				font-size: 16px;
				font-style: normal;
				display: inline-block;
				vertical-align: top;
			}
	.product-banner {
		float: right;
		position: relative;
		width: 20%;
		max-width:259px;
		overflow: hidden; 
	}
		.product-banner__visual {
			text-align: center;
			width: 2000px;
			position: relative;
			left: 50%;
			margin: 0 0 0 -1000px;
		}
			.product-banner__visual img {
				vertical-align: top;
			}
		.product-banner__sale-ico {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 134px;
			height: 134px;
			background: url(../img/sale_big_ico.png) no-repeat;
			text-align: center;
			text-transform: uppercase;
			color: #f32a64;
			margin: -67px 0 0 -67px;
			font: 28px/126px "Oswald Light", arial, sans-serif;
		}
		.product-banner__text {
			position: absolute;
			top: 50%;
			margin: 22px 0 0;
			left: 10px;
			right: 10px;
			text-align: center;
			font:13px/14px "Oswald", arial, sans-serif;
			color: #262626;
			text-transform: uppercase;
		}
	.product-list__filters {
		background: #f9f9f9;
		position: relative;
		z-index: 5;
		height: 36px;
		border: solid #e5e5e5;
		border-width: 1px 0;
		box-shadow: 0 1px 0 #f9f9f9;}
		.product-list__filters-list {
			float: left;
			list-style: none;
			margin: 0;
			width: 60%;
			padding: 0;}
			.product-list__filters-list__item {
				float: left;
				text-transform: uppercase;
				color: #828282;
				height: 36px;
				min-width: 10%;
				font: 13px/38px 'Oswald Light', arial, sans-serif;
				border-right: 1px solid #e5e5e5;
				padding: 0 15px;}
			.products-categories-opener {
				background: #333;
				height: 38px;
				position: relative;
				margin: -1px 0;
				padding: 0;
				line-height: 40px;
				border: none;
				a {
					display: block;
					color: #ff4a7e;
					text-decoration: none;
					padding: 0 15px 0 22px;
					background: url(../img/filters-opener-lines.png) 0 47% no-repeat;
					&:after {
						position: absolute;
						left: 100%;
						top: 0;
						width: 0;
						height: 0;
						content: '';
						border-style:solid;
						border-width: 19px 0 19px 10px;
						border-color: transparent transparent transparent #333;
					}
				}
			}
			.products-categories-opener + .product-list__filters-list__item {
				padding-left: 30px;
			}
	.product-list-holder {
		position: absolute;
		top: 38px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
	}		
	.product-list__item {
		width: 255px;
		position: relative;
		margin: 0 15px 0 0;
		padding: 10px 0 0;
		height: 340px;
		float: left;}
		.product-list__item__rating {
			text-align: center;
			display: block;
			margin: 0 0 6px;
		}
		.star {
			width: 14px;
			height: 14px;
			display: inline-block;
			vertical-align: top;
			background: url(../img/star.png) no-repeat;
		}
		.product-list__item__visual {
			display: block;
			text-align: center;
			padding: 0 0 5px;
			height: 225px;
			@include transition(all $t);
			img {
				max-width: 100%;
				max-height: 100%;
				vertical-align: top;
			}
		}
		.product-list__item__name {
			margin: 9px 0;
			max-height: 28px;
			overflow: hidden;
			text-align: center;
			font:12px/14px "Aleo Light", arial, sans-serif;
			color: #523f3f;
			text-transform: uppercase;
		}
		.product-list__item__price{
			font: 18px/20px "Aleo", arial, sans-serif;
			color: #190000;
			text-align: center;
		}
		.product-list__item__sale {
			position: absolute;
			left: 15px;
			top: 10px;
			width: 57px;
			text-align: center;
			height: 57px;
			font: 18px/58px 'Oswald Light', arial, sans-serif;
			color: #ff006c;
			background: url(../img/sale.png)  no-repeat;
		}
	.product-color {
		width: 14px;
		height: 14px;
		border: 1px solid #fff;
		background: none;
		display: block;
		cursor: pointer;
	}
	.product-color_checked,
	.product-color:checked {
		border-color: #f32a64;
	}
	.product-colors__item {
		vertical-align: top;
		display: inline-block;
		margin: 0 3px;
		input {
			display: none;
			&:checked + .product-color {
				border-color: #f32a64;
			}
		}
	}
	.product-colors {
		list-style: none;
		text-align: center;
		padding: 0;
		height: 16px;
		margin: -16px 0 0;
	}
	.product-list__title-holder{
		position: relative;
		width: 510px;
		z-index: 5;
		height: 313px;
		float: left;
		margin: 0 30px 37px 0;
		overflow: hidden;}
		.product-list__title-holder__visual {
			text-align: center;
			width: 2000px;
			display: block;
			left: 50%;
			margin: 0 0 0 -1000px;
			position: relative;
		}
		.product-list__title {
			position: absolute;
			bottom: 70px;
			@include transition(bottom $t);
			width: 100%;
			margin: 0;
			text-transform: uppercase;
			text-align: center;
			color: #11cce2;
			font: 48px/50px "Aleo", arial, sans-serif;
		}
	.product-list__filters__select {
		display: none;}
.product-list_big {
	.product-list__title-holder {
		width:600px;
		height: 370px;
		margin: 0 30px 40px 0;
	}
	.product-list__item__name {
		font-size: 13px;
		margin: 10px 0;
	}
	.product-list__item__price {
		font-size: 22px;
	}
	.product-list__item {
		width: 300px;
		margin: 0 15px 0 0;
		height: 400px;
	}
	.product-list__item__visual {
		height: 280px;
	}
	.product-list__title {
		bottom: 110px;
	}
}
.product-list_random {
	.product-list_item,
	.product-list__item__visual {
		height: auto;
	}
	.product-list__item__visual {
		padding-bottom: 10px;
	}
}
.product-list__view-types {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 15px 0 0;
	overflow: hidden;}
	.product-list__view-type {
		display: inline-block;
		vertical-align: top;
		margin: 0 5px;
		input {display: none;}
	}
		.product-list__view-type__ico {
			display: block;
			cursor: pointer;
			overflow: hidden;
			i {
				float: left;
				margin: 0 1px 0 0;
				height: 6px;
				border: 1px solid #d5d5d5;
			}
			input:checked + & i{
				background: #fff;
				border-color:#11cce2;
			}
		}

	.product-list__view-type_big {
		.product-list__view-type__ico i {
			width: 5px;
		}
	}
	.product-list__view-type_small {
		.product-list__view-type__ico i {
			width: 4px;
		}
	}
.products-categories {
	position: absolute;
	top: $hh;
	left: -9999px;
	opacity: 0;
	z-index: 10;
	width: 100%;
	@include transition(opacity $t ease, left 0s $t linear);
	height: 100%;
	font: 13px'Oswald Light', arial, sans-serif;
	background: rgba(51,51,51,0.6);
	overflow: hidden;
}
.products-categories_active {
	opacity: 1;
	left: 0;
	@include transition(opacity $t ease, left 0s 0s linear);
	.products-categories__content {
		left: 0;
	}
}
	.products-categories__content {
		@include transition(left $t ease);
		background: #fff;
		position: absolute;
		bottom: 55px;
		top: 0;
		width: 224px;
		left: -224px;
		box-shadow: 0 0 35px rgba(0,0,0,0.45);
	}
	.products-categories__title-holder {
		max-height: 0 0 10px;
	}
	.products-categories__title {
		height: 38px;
		display: block;
		line-height: 40px;
		color: #ff4a7e;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0 15px 0 22px;
		background: #333 url(../img/filters-opener-lines.png) 0 50% no-repeat;
	}
	.products-categories__type {
		border-bottom: 1px solid #f0f0f0;
		color: #b2b2b2;
		padding: 0 0 0 5px;
		text-transform: uppercase;
		line-height: 28px;
		height: 27px;
	}
	.products-categories__list {
		list-style: none;
		position: absolute;
		left: 0;
		top: 66px;
		padding: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
		margin: 0;}

		.products-categories__list__item{
			margin: 0 0 30px;
			padding: 0 0 0 23px;
			&:first-child {
				margin-top: 20px;
			}
		}
		.products-categories__list__head {
			margin: 0 0 10px;
			font-size: 18px;
			text-transform: uppercase;
			color: #444;
		}
		.products-categories__list__head_sale {
			color: #f32a64;
		}
	.products-categories__sub-list {
		margin: 0;
		font: 13px/24px 'Open Sans Light', arial, sans-serif;
		padding: 0;
		list-style: none;}
		
		.products-categories__sub-list__item {
			position: relative;
		}
		.products-categories__sub-list__item a{
			text-decoration: none;
			color: #888;
			&:hover {
				color: #f32a64;
			}
		}
		.products-categories__sub-list__item_active {
			font-family: "Open Sans", arial, sans-serif;
			&:after {
				position: absolute;
				left: -14px;
				top: 9px;
				content: '';
				border: 1px solid #f32a64;
				width: 4px;
				height: 4px;
				border-radius:3px;
			}
			a {
				color: #f32a64;
			}
		}
.text-arrow {
	display: inline-block;
	width: 11px;
	height: 11px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../img/text-arrow-l.png) no-repeat;
}	
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

@media screen and (max-height: $maxHeight){
	.products-categories {
		top: $hh_s;
	}
}