// Layout vars
$hh : 75px;
$hh_s : 55px;

$fh: 50px;
$fh_s: 38px;

$sh: 195px;

$uw : 360px;

$cw : 320px;
$cw_s : 220px;

$cbw : 200px;
$cbw_s : 150px;

$t : .3s;

// layout media
$maxHeight : 800px;
$maxWidth : 1100px;

//grid media
$gridonecolwidth : 900px;
$gridtwocolwidth : 1300px;
$gridonecolheight : 550px;


